*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Exo,'-apple-system','Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif;
	color: #333;
	background-image: url('../img/beijingtupian.png');
}
.bottom{
    position: absolute;
    width: 100%;
    height: 5%;
    line-height: 100%;
    left:0;
    bottom: 0%;
    text-align: center;
}